html {
  cursor: none;
  overflow: hidden;
  touch-action: none;
}

body {
  color: white;
  background-color: black;
}
.pointer {
  position: absolute;
  height: 50px;
  width: 50px;
  pointer-events: none;
}

.pointer img {
  width: 50px;
}